# Hypothesis_Testing_Assignment

Hypothesis Testing
1. Define H0, H1
2. Identify test to validate H0
3. Decide alpha
4. Calculate p value
5. If p < alpha then reject H0, vice versa

### 1. A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd 
import numpy as np
import scipy.stats as stats

In [2]:
df=pd.read_csv("Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

H0= No significant difference in the average size of cutlet

H1= significant difference in the average size of cutlet

 Two tailed, 2_sample t test

For a two-tailed 95% confidence interval, significance level is 5% & the alpha value is 0.025

In [3]:
unitA= pd.Series(df["Unit A"])
unitB=pd.Series(df["Unit B"])

In [4]:
stats.ttest_ind(unitA , unitB)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

Scipy.stats.ttest gives two tail test p value so accept as it is
as p value(0.47) > alpha(0.025) -> We fail to reject null hypothese due to lack of evidence->No significant difference in sizes of cutlet

In [5]:
if stats.ttest_ind(unitA , unitB)[1] > 0.025 :
    print(" We fail to reject null hypothesis due to lack of evidence, \n Hence there is no significant difference in the average size of cutlet")

else: 
    print("We reject null hypothesis")

 We fail to reject null hypothesis due to lack of evidence,
 Hence there is no significant difference in the average size of cutlet

### 2. A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [6]:
df1= pd.read_csv("LabTAT.csv")
df1.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

H0= No significant difference in average TAT of reports from these 4 labs

H1= At least one of these 4 labs have Significantly different average TAT of reports from others.

Anova Test on 4 samples

For a two-tailed 95% confidence interval, significance level is 5% & the alpha value is 0.025

In [7]:
stats.f_oneway(df1.iloc[:,0], df1.iloc[:,1],df1.iloc[:,2],df1.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [8]:
if stats.f_oneway(df1.iloc[:,0], df1.iloc[:,1],df1.iloc[:,2],df1.iloc[:,3])[1] > 0.025 :
    print(" We fail to reject null hypothesis due to lack of evidence \n No significant difference in average TAT of reports from these 4 labs ")

else: 
    print("We reject null hypothesis \nAt least one of these 4 labs have Significantly different average TAT of reports from others.")

We reject null hypothesis
At least one of these 4 labs have Significantly different average TAT of reports from others.

### 3. Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions. East: Male=50, Female=550; West: Male=142, Female=351; South: Male=70, Female=350; North: Male=131, Female=480

In [9]:
df5=pd.read_csv("BuyerRatio.csv", index_col=0) 
df5.head()

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

H0: male-female buyer ratios are similar across regions

H1: male-female buyer ratios have signicicant difference across regions

Chi Square Test

For a two-tailed 95% confidence interval, significance level is 5% & the alpha value is 0.025

In [10]:
stats.chi2_contingency(df5)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [11]:
if stats.chi2_contingency(df5)[1] > 0.025:
    print(" We fail to reject null hypothesis due to lack of evidence \n No significant difference in male-female buyer ratios across regions")
else:  
     print("We reject null hypothesis \nAt least one of these 4 regions have Significantly different male-female buyer ratios")

 We fail to reject null hypothesis due to lack of evidence
 No significant difference in male-female buyer ratios across regions

### 4. TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [12]:
df3=pd.read_csv("Costomer+OrderForm.csv")
df3

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [13]:
country=[]
error=[]

for i in range (0,4):
    for j in range (0,300): 
        if df3.iloc[j,i] == "Error Free":
            error.append("Error Free")
            country.append(df3.columns[i])
        elif df3.iloc[j,i]=="Defective":
             error.append("Defective")
             country.append(df3.columns[i])

In [14]:
df4=pd.DataFrame()
df4['country']=country
df4["Error"]=error

In [15]:
defect=pd.crosstab(df4.Error, df4.country) 
defect

country     India  Indonesia  Malta  Phillippines
Error
Defective      20         33     31            29
Error Free    280        267    269           271

H0= No significant difference in defective % among 4 centers.

H1= significant difference in defective % among 4 centers.

Chi Square Test

For a two-tailed 95% confidence interval, significance level is 5% & the alpha value is 0.025

In [16]:
stats.chi2_contingency(defect)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[ 28.25,  28.25,  28.25,  28.25],
        [271.75, 271.75, 271.75, 271.75]]))

In [17]:
if stats.chi2_contingency(defect)[1] > 0.025:
    print(" We fail to reject null hypothesis due to lack of evidence \n No significant difference in defective % among 4 centers.")
else:  
     print("We reject null hypothesis \nAt least one of these 4 centers have Significantly different defective % ")

 We fail to reject null hypothesis due to lack of evidence
 No significant difference in defective % among 4 centers.